.lt_category_left{
  float: left;
  width: 90px;
  height: 100%;
  /*区域滚动,父容器要定位*/
  position: relative;
}
.lt_category_left li a{
  border-right: 1px solid #ccc;
  border-bottom:1px solid #ccc;
  height: 50px;
  width: 90px;
  display: block;
  text-align:center;
  line-height:50px;
  background-color: #E3E4E5;
  color:#666;
}
.lt_category_left li a.current{
  background-color: #fff;
  border-right:none;
}
.lt_category_right{
  height:100%;
  position: relative;
  overflow: hidden;
  background: #fff;
}
.lt_category_right ul{
  padding-left: 10px;
}
.lt_category_right li {
  width: 33.3%;
  float: left;
}
.lt_category_right li a{
  display: block;
}
.lt_category_right li img {
  width: 70px;
  height: 50px;
  margin: 0 auto;
}
.lt_category_right li p{
  text-align:center;
}